<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.BeLogDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BeLogDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.BeLogConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BeLogDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>