<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BeLogForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TagLabelPrinterName" value="Brother QL-560"/>
    <add key="MatrixPrinterName" value="Microsoft XPS Document Writer"/>
    <add key="NormalPrinterName" value="Microsoft XPS Document Writer"/>
  </appSettings>
    <connectionStrings>
        <add name="BeLogForm.Properties.Settings.BeLogConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BeLogDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.BeLogDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BeLogDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BeLogForm.Properties.Settings>
            <setting name="LastLoggedUser" serializeAs="String">
                <value>zzz</value>
            </setting>
        </BeLogForm.Properties.Settings>
    </userSettings>
</configuration>